<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="tituloCabecera">
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <app-explore-container name="Lista De Razas De Gatos"></app-explore-container>

  <ion-card *ngFor="let gato of listadoGatos">
    <ion-card-header>
      <ion-card-title>{{gato.name}}</ion-card-title>
    </ion-card-header>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
  
    <ion-card-content>
      <ion-text>Origen: {{gato.origin}}</ion-text>  <ion-text>Inteligencia: {{gato.intelligence}}</ion-text>
    </ion-card-content>
  </ion-card>

</ion-content>
